.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pageContainer {
  display: flex;
  flex-wrap: wrap;
}

.map {
  margin: 0;
  width: 85%;
  height: 100vh;
}

.sidebar {
  margin: 0;
  width: 15%;
  height: 100vh;
  background: tan;
}

.listItem {
  padding: 5px;
}

.list-item-header {
  color: red;
}

.listCuisine {
  padding: 0px;
  margin: 0px;
}

@media all and (max-width: 550px) {

  .sidebar {
    margin: 0;
    width: 25%;
    height: 100vh;
    background: tan;
  }

  .map {
    margin: 0;
    width: 75%;
    height: 100vh;
  }

  .list-item-header {
    font-size: 10px;
  }

  .listCuisine {
    font-size: 10px;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
